<div class="container-fluid bg-info">
  <h2>Simple Web App Generator</h2>
  <p>{{i18n 'introduction'}}
    <ul>
      <li>{{i18n 'features.seperation'}}</li>
      <li>{{i18n 'features.responsiveDesign'}}</li>
      <li>{{i18n 'features.internationalization'}}</li>
      <li>{{i18n 'features.buildSupport'}}</li>
    </ul>
  </p>

  <p>{{i18n 'librariesInfo'}}
    <ul>
      <li>{{i18n 'libraries.lodash'}}</li>
      <li>{{i18n 'libraries.jquery'}}</li>
      <li>{{i18n 'libraries.handlebars'}}</li>
      <li>{{i18n 'libraries.i18next'}}</li>
      <li>{{i18n 'libraries.moment'}}</li>
    </ul>
  </p>

  <p>{{{i18n 'switchLanguage'}}}</p>
  <span>{{today}}</span>
</div>
